/*
Project Name: HTML Template
Client: Your Client
Author: Your Name
Developer: @poopsplat in Chicago
*/

/******************************************
/* SETUP
/*******************************************/
/* Box Model Hack: http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
/* Micro clearfix hack: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
  clear: both;
}
/******************************************
/* BASE STYLES
/*******************************************/
body {
	color: white;
	background-color: none;
}

/******************************************
/* SECTIONS
/*******************************************/
.headercontainer {
  width: 100%;
  margin: 0 auto;
}

.open {
	display: none;
}

header {
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100px;
  position: fixed;
  background-color: #333;
  box-shadow: 0px 1px 20px #444;
}

header .logo {
  float: left;
}

header nav {
  text-align: center;
}

header nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

header nav ul li {
  transition: background-color 0.2s ease-in-out;
}

header nav ul li:hover {
  background-color: #000;
}

header nav ul li a {
  color: #CCBF5B;
  padding: 39px;
  display: block;
  font-size: 17px;
  text-decoration: none;
  text-transform: uppercase;
}

header nav > ul > li {
  float: left;
  position: relative;
}

.dropdown-menu {
	right: 0;
	padding: 2%;
	text-align: left;
	position: absolute;
	background-color: #000;
}

#button {
	color: #333;
	background-color: #CCBF5B;
}

input {
	color: black;
}

textarea {
	color: black;
}

#logo {
	width: auto;
	height: 100px;
}


#title {
	z-index: 1;
	font-size: 30px;
	padding-top: 5%;
	text-align: center;
	text-shadow: 1px 1px 1px #000;
	font-family: Raleway, sans-serif;
}

.aboutmepage {
	width: 100%;
	height:800px;
	position: absolute;
	padding-bottom: 150px;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center center;
	background-image: url('../images/DSC_0014_2.jpg');

}

#aboutmeinfo {
	margin: 25px;
	padding-top: 1%;
	margin-bottom: 10%;
	padding-bottom: 1%;
}

#aboutme {
	width: 55%;
	height: 70%;
	float: right;
	color: white;
	padding-top: 0;
	padding: .5% 2%;
	margin-top: .5%;
	margin-right: 6%;
	text-align: left;
	background-color: #333;
	box-shadow: 1.5px 1.5px 2.5px 3px #ccc;
}

#aboutphotog {
	color: #CCBF5B;
	text-align: center;
	text-shadow: .6px .6px black;
	font-family: 'Raleway', sans-serif;
}

#carlybrandess {
	float: left;
	width: 20%;
	height: 20%;
	padding: 5px;
	margin-left: 8%;
	margin-top: 3.5%;
	background-color:#333;
	vertical-align: center;	
	border: 5px solid #CCBF5B;
}

#content {
	height: 50%;
	text-align: center;
	font-family: serif didot;
}

#bannerpage {
	width: 100%;
	height: 625px;
	margin-top: 100px;
	position: relative;
}

/* Basic background image styling. */
.background-image {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

}

/* Styles for the alternating / transition effect. */
.toggle-image {
	top: 0;
	left: 0;
	width: 100%;
 	height: 625px;
	padding-bottom: 0;
	position: absolute;
	transition: opacity 1s ease-in;
}

/* Styles for the specific images. */
.first-image {
	opacity: 0;
	z-index: -3;
	background-image: url('../images/sedona1.jpg');	
}

.second-image {
	opacity: 0;
	z-index: -2;
	background-image: url('../images/bannerimage2b.jpg');
}

.third-image {
	opacity: 0;
	z-index: -1;
	background-image: url('../images/bannerimage2c.jpg');
}

.first-image.show {
	opacity: 1;
}

.second-image.show {
	opacity: 1;
}

.third-image.show {
	opacity: 1;
}

 .photographypage {
 	color: white;
 	padding: 10%;
 	background-color: black;
}

 #doorknob {
 	width: 100%;
 	height: 625px;
 	background-size: cover;
 	background-repeat: no-repeat;
 	background-image: url('../images/DSC_0482.jpg');
 }

.nextimage {
	display: none;
}

.photos > div {
	width: 25%;
	z-index: 5;
	float: left;
	padding: 20px;
}

.photos > div > a {
	height: 0;
	color: white;
	overflow: hidden;
	position: relative;
	padding-bottom: 50%;
	display: inline-block;
}

.photos:hover > .overlay {
	width:100%;
    height:100%;
    position:absolute;
    background-color:#000;
    opacity:0.5;
    border-radius:30px;
}

.photos > div > a > img {
	max-width: 100%;
}

.photos > div > a > img:hover {
    opacity: .3;
    cursor: pointer;
    background-color: #8D8D8D;
}

h3 {
	width: 100%;
	position: absolute;
	text-align: center;
}

#extender {
	width: 100%;
	height: 100px;
	margin-bottom: 10%;
}

h2 {  
   left: 0; 
   top: 200px; 
   width: 100%; 
   z-index: 10;
   color: black;
   position: absolute;
}

.dropdown-menu {
	display: none;
}

footer {
	width: 100%;
	height: 110px;
	margin-bottom: 0;
	padding-bottom: 0;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('../images/footerimage.jpg');
}

.social-links {
  padding: 0;
  margin: 40px 0 0 0;
}

.social-links li {
  margin: 0 20px;
  list-style: none;
  display: inline-block;
}

.social-links img {
  width: 40px;
  height: 40px;
  margin-top: 30px;
}

.thankyou {
	width: 100%;
	color: white;
	height: 100%;
	padding: 20%;
	margin-bottom: 0;
	text-align: center;
	background-color: #333;
}

#returnlink {
  padding: 1%;
  color: #333;
  font-size: 17px;
  display: inline-block;
  text-decoration: none;
  background-color: #CCBF5B;
}

.menu-link-wrapper {
  width: 45px;
  height: 45px;
  cursor: pointer;
  margin: 20px 90%;
  display: none;
}

.menu-link {
  width: 100%;
  height: 100%;
}

.lines {
  -moz-transition: background 0.2s ease 0.4s;
  -o-transition: background 0.2s ease 0.4s;
  -webkit-transition: background 0.2s ease;
  -webkit-transition-delay: 0.4s;
  transition: background 0.2s ease 0.4s;
  display: block;
  width: 100%;
  height: 1.71429px;
  height: 0.10714rem;
  background: #aaa;
  border-radius: 0.85714px;
  border-radius: 0.05357rem;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  width: 60%;
  margin: 0 20%;
  position: relative;
  background: #ffffff;
}

.lines:before,
.lines:after {
  -moz-transition: top 0.2s ease 0.4s, -moz-transform 0.2s ease;
  -o-transition: top 0.2s ease 0.4s, -o-transform 0.2s ease;
  -webkit-transition: top 0.2s ease, -webkit-transform 0.2s ease;
  -webkit-transition-delay: 0.4s, 0s;
  transition: top 0.2s ease 0.4s, transform 0.2s ease;
  display: block;
  width: 100%;
  height: 1.71429px;
  background: #aaa;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  position: absolute;
  left: 0;
  content: '';
  background: #ffffff;
}

.lines:before {
  top: -6px;
}

.lines:after {
  top: 6px;
}

.menu-trigger-open .lines {
  -moz-transition: background 0.2s ease 0s;
  -o-transition: background 0.2s ease 0s;
  -webkit-transition: background 0.2s ease;
  -webkit-transition-delay: 0s;
  transition: background 0.2s ease 0s;
  background: transparent;
}

.menu-trigger-open .lines:before,
.menu-trigger-open .lines:after {
  -moz-transition: top 0.2s ease, -moz-transform 0.2s ease 0.4s;
  -o-transition: top 0.2s ease, -o-transform 0.2s ease 0.4s;
  -webkit-transition: top 0.2s ease, -webkit-transform 0.2s ease;
  -webkit-transition-delay: 0s, 0.4s;
  transition: top 0.2s ease, transform 0.2s ease 0.4s;
  top: 0;
}

.menu-trigger-open .lines:before {
  -moz-transform: rotate3d(0, 0, 1, 45deg);
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}

.menu-trigger-open .lines:after {
  -moz-transform: rotate3d(0, 0, 1, -45deg);
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}

.mainNav{
  width: 100%;
  background: #333;
  font-family: 'Avenir', sans-serif;
  display: none;
 }

.mainNavDropDown{
  padding-left: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  display: none;
 }

.mainNavDropDown li{
  font-size: 20px;
  padding: 25px;
  width: 100%;
  background-color: #333;
  border-bottom: 1px solid black;
  display: none;
 }

.mainNavDropDown li:last-child{
  border-bottom: none;
 }

.mainNavDropDown li:hover{
  background: black;
  color: #CCBF5B;
 }

@media screen and (max-width:1100px){
#aboutme {
	float: none;
	width: 100%;
	margin: 1% 0;
	}

#carlybrandess {
	margin: 1.5% 1.5%;
	margin-top: 3%;
	}

#extender {
	display: none;
	}
}

@media screen and (max-width: 950px){
	/*Navigation*/
#menu {
    position: absolute
    top: 70px;
    left: 0;
    background-color: #3b3a3a;
    max-height: 0;
    overflow: hidden;
    max-height: 0;
    transition: max-height: 350ms ease-out;
  }

.menu-link-wrapper{
    display: block; 
  }

#logo {
	height: 70px;	
  }

header nav ul li a {
  	color: #CCBF5B;
  	padding: 10px;
  	display: inline-block;
  	font-size: 14px;
  	text-decoration: none;
  	text-transform: uppercase;
  	float: none;
  }

.mainNav {
	display: block;
  }

.mainNavDropDown li {
	display: block;
  }

.photos > div {
	width: 30%;
   }
}

@media screen and (max-width: 750px){
#title {
	font-size: 22px;
  }

#doorknob {
 	width: 100%;
 	height: 550px;
 	background-repeat: no-repeat;
 	background-image: url('../images/DSC_0482.jpg');
  }

.photos > div {
	float: none;
	width: 80%;
   }
}

@media screen and (max-width: 500px){
#doorknob {
 	display: none;
  }
}


