/*
Project Name: HTML Template
Client: Your Client
Author: Your Name
Developer: @poopsplat in Chicago
*/

/******************************************
/* SETUP
/*******************************************/
/* Box Model Hack: http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
/* Micro clearfix hack: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
  clear: both;
}
/******************************************
/* BASE STYLES
/*******************************************/
body {
	background-color: none;
	color: white;
/*	text-align: center;
*/}

/******************************************
/* LAYOUT
/*******************************************/

/******************************************
/* SECTIONS
/*******************************************/
.headercontainer {
  margin: 0 auto;
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #333;
  box-shadow: 0px 1px 20px #444;
  z-index: 10;
}

header .logo {
  float: left;
}

header nav {
  text-align: center;
}

header nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

header nav ul li {
  transition: background-color 0.2s ease-in-out;
}
header nav ul li:hover {
  background-color: #000;
}

header nav ul li a {
  display: block;
  font-size: 17px;
  padding: 39px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

header nav > ul > li {
  float: left;
  position: relative;
}

.dropdown-menu {
	position: absolute;
	right: 0;
	background-color: #000;
	text-align: left;
	padding: 2%;
}

.button {
	background-color: #3366FF;
	color: white;
}

#logo {
	width: auto;
	height: 100px;
}


#title {
	padding-top: 5%;
	text-align: center;
	z-index: 1;
	font-family: Raleway, sans-serif;
	text-shadow;   text-shadow: 1px 1px 1px #000;
	font-size: 30px;
}

.aboutmepage {
	background-image: url('../images/DSC_0014_2.jpg');
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height:800px;
	width: 100%;
	position: absolute;
	padding-bottom: 150px;
}

#aboutmeinfo {
	margin: 25px;
	padding-top: 1%;
	margin-bottom: 10%;
	padding-bottom: 1%;
}

#aboutme {
	text-align: center;
	width: 55%;
	height: 70%;
	padding: .5% 2%;
	margin-right: 6%;
	float: right;
	color: white;
	margin-top: .5%;
	box-shadow: 1.5px 1.5px 2.5px 3px #ccc;
	padding-top: 0;
	background-color: #333;
}

#aboutphotog {
	text-shadow: .6px .6px black;
	color: #C0C0C0;
	font-family: 'Raleway', sans-serif;
}

#carlybrandess {
	float: left;
	width: 20%;
	height: 20%;
	border: 5px solid #C0C0C0;
	margin-left: 8%;
	vertical-align: center;	
	margin-top: 3.5%;
}

#content {
	height: 50%;
	text-align: center;
	font-family: serif didot;
}

#bannerpage {
	position: relative;
	height: 625px;
	width: 100%;
	margin-top: 100px;
}

/* Basic background image styling. */
.background-image {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

/* Styles for the alternating / transition effect. */
.toggle-image {
 	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
 	height: 625px;
	transition: opacity 1s ease-in;
	padding-bottom: 0;
}

/* Styles for the specific images. */
.first-image {
	background-image: url('../images/sedona1.jpg');	
	z-index: -3;
	opacity: 0;
}

.second-image {
	background-image: url('../images/bannerimage2b.jpg');
	z-index: -2;
	opacity: 0;
}

.third-image {
	background-image: url('../images/bannerimage2c.jpg');
	z-index: -1;
	opacity: 0;
}

.first-image.show {
	opacity: 1;
}

.second-image.show {
	opacity: 1;
}

.third-image.show {
	opacity: 1;
}

 .photographypage {
 	color: white;
 	padding: 10%;
 	background-color: black;
}

 #doorknob {
 	background-image: url('../images/DSC_0482.jpg');
 	background-repeat: no-repeat;
 	background-size: cover;
 	height: 625px;
 	width: 100%;
 }

.nextimage {
	display: none;
}

.photos > div {
	width: 25%;
	z-index: 5;
	float: left;
	padding: 20px;
}

.photos > div > a {
	height: 0;
	color: white;
	overflow: hidden;
	padding-bottom: 50%;
	display: inline-block;
	position: relative;
}

.photos > div > a > img {
	max-width: 100%;
}

h3 {
	position: absolute;
	width: 100%;
	text-align: center;
}

#extender {
	width: 100%;
	height: 100px;
	margin-bottom: 10%;
}

h2 {  
   left: 0; 
   top: 200px; 
   width: 100%; 
   z-index: 10;
   color: black;
   position: absolute;
}

.dropdown-menu {
	display: none;
}

footer {
	width: 100%;
	height: 110px;
	margin-bottom: 0;
	padding-bottom: 0;
	text-align: center;
	background-repeat: no-repeat;
	background-image: url('../images/footerimage.jpg');
}

.social-links {
  padding: 0;
  margin: 40px 0 0 0;
}

.social-links li {
  margin: 0 20px;
  list-style: none;
  display: inline-block;
}

.social-links img {
  width: 40px;
  height: 40px;
  margin-top: 30px;
}




